*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #fff;
  font-size: 100%;
}
body {
  font: 1em/1.5 Helvetica, Arial, sans-serif;
  color: #4c4a48;
  text-align: center;
  padding: 1.5em 0 3em;
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  line-height: 1.25;
  color: #1a1817;
}

p { margin: 0 0 1em; }

a, a:focus {
  color: #ee6c15;
  text-decoration: none;
}
a:hover { color: #b84d06; }


img {
  display: block;
  max-width: 100%;
  width: auto;
}


.handsome-mug {
  margin: 0 auto 0.5em;
  border-radius: 0 0.25em;
}
.hey-its-me {
  display: block;
  font-weight: bold;
  letter-spacing: 0.033em;
  text-transform: uppercase;
}



.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-unstyled li { margin: 0; }


.page-section:after {
  content: '';
  display: block;
  width: 3em;
  height: 2px;
  background: #dee1e1;
  margin: 2em auto;
}

.section-heading {
  display: block;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 0.5em;
  letter-spacing: 0.033em;
  text-transform: uppercase;
}

.post-byline {
  color: #999;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.066em;
}
.post-title { display: block; }
.post-full .post-title {
  font-size: 2em;
}

.post-content, .page-content { text-align: left; }

.post-teaser { margin-bottom: 1em; }
.post-teaser a { display: block; }
.post-teaser .post-title {
  font-size: 1.25em;
}