.Page__header {
  @extend %responsive-wrapper;
}

.Page__heading {
  @extend %responsive-wrapper;
  margin: 3rem auto;
  p, h1 {
    padding: 0;
    margin: 0 0 1.5rem;
  }
}

.Page__lead-image {
  display: block;
  margin: 3rem auto;
  border-radius: 50%;
  overflow: hidden;
  max-width: 33%;
  
  @media (min-width: $mediaMedium) {
    margin: 0 0 0 3rem;
    float: right;
  }
}

.Page__title {
  @include largeHeading;
  margin-bottom: 3rem;
  color: $black;
}

.Page__body {
  margin-bottom: 6rem;
}