
$colorMuted:  #aaa;

$colorBrand: #66e8ba;

$fontSizeSmallest:  1.2rem;
$fontSizeSmall:     1.6rem;
$fontSizeNormal:    2.0rem;
$fontSizeLarge:     2.5rem;
$fontSizeLargest:   5.0rem;

$fontWeightNormal: 400;
$fontWeightBold: 800;