---
layout: default
---
{% if site.posts.length %}
  <section class="page-section">
    <h1 class="section-heading">Latest posts</h1>
    <ul class="list-unstyled post-teaser-list">
      {% for post in site.posts limit:3 %}
        <li>
          {% include posts/teaser.html %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

<section class="page-section">
  <h1 class="section-heading">Speaking soon</h1>

  <div class="page-content speaking-list">
    <h2>The Code Cure: Small Steps to a More Organized Front&#8209;End&nbsp;Codebase</h2>
    <p>
      <a href="http://webcon.illinois.edu/">The University of Illinois Web Conference</a>
      <br /> 
      April 30, 2015 — Champaign, IL
      <br />
      <strong><a href="https://speakerdeck.com/mattwondra/the-code-cure-small-steps-to-a-more-organized-front-end-codebase">Slides</a></strong>
      &middot;
      <strong><a href="https://docs.google.com/document/d/1In98kz_MlLkls2BZ4qPZGhMZ8WaqvazoU5fF7ekiLHs/edit?usp=sharing">Handout</a></strong>
    </p>
  </div>
</section>