<!DOCTYPE html>
<html lang="en">
<head>
  {% comment %}TODO: Favicon{% endcomment %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{site.rss_path}}{{site.rss_name}}" rel="alternate" title="{{site.name}}" type="application/rss+xml" />

  <link rel="stylesheet" href="/assets/css/ooh_how_stylish.css" />

  <script src="//use.typekit.net/jfv2xps.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <header role="banner" class="u-responsive-wrapper">
    <a href="/">
      Matt Wondra {% if page.mattwondra %}{{page.mattwondra}}{% else %}lives in a rounded rectangle{% endif %}
    </a>
  </header>

  <main class="u-responsive-wrapper" role="main">
    {{ content }}
  </main>

  <footer role="contentinfo" class="page-footer">
    {% if page.previous %}
      <section class="page-section">
        <h2 class="section-heading">Made&nbsp;it&nbsp;through? Well&nbsp;here’s&nbsp;another</h2>
        {% assign post = page.previous %}
        {% include posts/teaser.html %}
      </section>
    {% endif %}
    
    <section class="page-section stalker-zone">
      <h2 class="section-heading">Follow along, ya&nbsp;creeper</h2>
      <a href="https://twitter.com/mattwondra" class="webicon twitter">Follow me on Twitter</a>
      <a href="https://github.com/mattwondra" class="webicon github">Follow me on Github</a>
      <a href="http://dribbble.com/mattwondra" class="webicon dribbble">Follow me on Dribbble</a>
      <a href="http://instagram.com/mattwondra" class="webicon instagram">Follow me on Instagram</a>
    </section>
    
    <section class="page-section">
      <h2 class="section-heading">Juicy links</h2>
      <nav role="navigation">
        <ul class="list-unstyled">
          <!-- <li><a href="/speaking.html">Speaking</a></li> -->
          {% if site.posts.length > 3 %}<li><a href="/archives.html">Archives</a></li>{% endif %}
          <li><a href="/about.html">About</a></li>
          <li><a href="{{site.rss_path}}{{site.rss_name}}">RSS</a></li>
        </ul>
      </nav>
    </section>
    
    <small class="copyright-notice">
      All content &copy; {{ site.time | date: '%Y' }} Matt Wondra
    </small>
  </footer>
  

  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-819108-8');ga('send','pageview');
  </script>
</body>
</html>
