<!DOCTYPE html>
<html lang="en">
<head>
  {% comment %}TODO: Favicon{% endcomment %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.name }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{site.rss_path}}{{site.rss_name}}" rel="alternate" title="{{site.name}}" type="application/rss+xml" />

  <link rel="stylesheet" href="/assets/css/ooh_how_stylish.css" />

  <script src="//use.typekit.net/jfv2xps.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <header role="banner" class="u-responsive-wrapper">
    {% if page.url != "/index.html" %}
      {% assign isLink = true %}
    {% endif %}
    
    {% capture flavorText %}
      <div class="FlavorText__text">
        Matt Wondra
        <span class="FlavorText__text__flavor">
          {% if page.mattwondra %}{{ page.mattwondra }}{% else %}{{ site.defaultFlavorText }}{% endif %}
        </span>
        
        {% if isLink %}
          <div class="FlavorText__hover-text">
            <span class="FlavorText__hover-text__name">Matt Wondra</span>
            will guide you home.
          </div>
        {% endif %}
      </div>
    {% endcapture %}
    
    {% if isLink %}
      <a href="/" class="FlavorText FlavorText--link">
        {{ flavorText }}
      </a>
    {% else %}
      <div class="FlavorText">
        {{ flavorText }}
      </div>
    {% endif %}
  </header>

  <main class="u-responsive-wrapper" role="main">
    {{ content }}
  </main>

  <footer role="contentinfo" class="SiteFooter u-responsive-wrapper">
    <hr class="ContentBreak" />
    
    <h2 class="u-section-heading">Choose your own adventure</h2>
    <nav class="PrimaryNav">
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/blog/archive/">Archive</a>
    </nav>
    <div class="SecondaryNav">
      <a href="https://github.com/mattwondra" class="u-link-muted">Github</a>
      <a href="https://twitter.com/mattwondra" class="u-link-muted">Twitter</a>
      <a href="http://instagram.com/mattwondra" class="u-link-muted">Instagram</a>
      <a href="{{site.rss_path}}{{site.rss_name}}" class="u-link-muted">RSS</a>
    </div>
    
    
    <small class="SiteCopyright">
      &copy; {{ site.time | date: '%Y' }} Matt Wondra
    </small>
  </footer>
  

  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-819108-8');ga('send','pageview');
  </script>
</body>
</html>
